<!DOCTYPE html>
<html>
<head>
  <title>P,R,S - Results</title>
  <link rel="stylesheet" href="../../styles/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
 </head>

<body>
  <% include global/header %>

    
 <div id="game_results">
    <img id="martin atkinson" src="" height=140; width=140; style = "position: relative; z-index:1000; margin-top:10px">
    <p id="result"> You <%=user.result%>!</p>
    <p> You threw <%=user.weapon%>!</p>
    <p> <%=user.villain.replace('_', ' ')%> threw <%=user.response%>!</p>
    <form action="/playAgain" method="get">
      <button type="submit" id = "play_again">Play Again</button>
    </form>
    <object id = "villain_image" type="image/svg+xml" data="../../images/<%=user.villain.toLowerCase()%>_<%=user.response%>.svg" width = "150vw" height = "150vh"></object>
    <img id="player_image" src="../../images/player_<%=user.weapon%>.png" height=135; width=135;>
  </div>
  <% include global/footer %>
  <script src="../../scripts/scripts.js"></script>
 </body>
</html>
