<!DOCTYPE html>
<html>
<head>
  <title>P,R,S - User Details</title>
  <link rel="stylesheet" href="../../styles/style.css">
 </head>

<body>
  <% include global/header %>

  <div id="feedback" class = "<%if (user==null || feedback["failure"]==10 || feedback["failure"]==42){%> negative <%}%>">
    <%if (feedback["failure"]==10){%>That username is taken. Please choose a different one.<%} else if (feedback["failure"]==42){%> You did not enter valid text for one or more of the fields. <%} else if (user==null) {%>Please enter your information to create an account <%}%>
  </div>
  <div id="enter_name">
    <h2><%if (user==null){%> Create Account <%} else{%>User Details: <%=user.name%> <%}%></h2>
    <h5><%if (user!=null){%> Creation Date: <%=user.creation%> <%}%></h5>
    <h5><%if (user!=null){%> Last Update: <%=user.update%> <%}%></h5>
    <form action="<%if(user==null){%>/users<%}else{%>/user/<%=user.name%>?_method=PUT<%}%>" method="post">
      Username: <input type="text" id="enter_username" name="player_name" value = "<%if (user!=null){%><%=user.name%><%} else {%><%}%>"><br>
      PSWD: <input type="text" id="enter_psw" name="pswd" value = "<%if (user!=null){%><%=user.pswd%><%}%>"><br>
      First Name: <input type="text" id="enter_first" name="first" value = "<%if (user!=null){%><%=user.first%><%}%>"><br>
      Last Name: <input type="text" id="enter_last" name="last" value = "<%if (user!=null){%><%=user.last%><%}%>"><br>
      <br>
      <button type="submit" id = "enter_name_button"><%if(user==null){%>Create Account<%}else{%>Modify Account<%}%></button>
    </form>
    <% if (user!=null) {%>
    <form action="/user/<%=user.name%>?_method=DELETE" method="post">
       <input type="submit" value="Delete User">
    </form>
    <%}%>
    <% if (user!=null) {%>
      <form action="/playAgain" method="get">
        <button type="submit" id = "play_again">Play</button>
      </form>
    <%}%>
  </div>
  <footer>
    Brought to you by the cool kids of Software Engineering - Fall, 2018.
  </footer>
  <script src="scripts/scripts.js"></script>
 </body>
</html>
